In [2]:
from pdf2df import convert_to_df
df = convert_to_df('../error_pdf/BPX -  I0757541.pdf')
df

SyntaxError: invalid syntax (Temp/ipykernel_14372/1361160622.py, line 1)

In [19]:
def find_text(temp_df, text,case=False):
    location = temp_df[temp_df['TEXT'].str.contains(text,case=case, na=False)].index.tolist()
    return location

def find_next_word(temp_df, text, nearest_text, case=False):
    pos = find_text(temp_df,text,case=case)
    pos = [item +1 for item in pos]
#     print(pos)
    new_pos = list()
    for item in pos:
#         temp = df.loc[]
        temp_value= temp_df.loc[item]['TEXT']
#         print(temp_value.lower())
       
        if temp_value.lower().__contains__(nearest_text.lower()):
            new_pos.append(item-1)
        
    return new_pos

In [20]:
pos = find_text(df,'Invoice')
invoice_no = df[pos[0]+1:pos[0]+2]['TEXT'].values[0]
invoice_no

'I0655786'

In [21]:
pos_date =find_text(df,'date')[0]
date = df[pos_date+1:pos_date+2]['TEXT'].values[0]
date

'18/03/20'

In [22]:
table_start = find_next_word(df,'nett','price')
table_end = find_text(df, 'comment')
table_data = df[table_start[0]:table_end[0]]
table_data

        TEXT   X1   Y1   X2   Y2  block_no  line_no
147     NETT  747  199  770  211        33        7
148    Price  773  199  795  211        33        7
149     EURO  797  199  823  211        33        7
150  97P1SPA   17  212   56  225        34        0
151   Finder  237  212  263  225        34        1
152        -  265  212  268  225        34        1
153  Push-in  271  212  301  225        34        1
154   socket  304  212  330  225        34        1
155      for  332  212  343  225        34        1
156       46  345  212  355  225        34        1
157   relays  358  212  382  225        34        1
158       10  551  212  561  225        34        2
159     1.66  604  212  621  225        34        3
160     Each  659  212  679  225        34        4
161    16.60  774  212  796  225        34        5

In [28]:
from pprint import pprint
msg = dict()
result = list()
for index, row in table_data.iterrows():
#     print(row['TEXT'])
    if row['X1'] < 20: 
        msg = dict()
        msg['part'] = row['TEXT']
        print(row['TEXT'])
        msg['desc'] = ''
        
    if ('part' in msg) and (200 < row['X1'] < 450):
        msg['desc'] = msg['desc'] +" "+ row['TEXT']
        print(row['TEXT'])
        msg['qty'] = ''
    if 'qty' in msg and 500 < row['X1'] < 560:
        msg['qty'] = row['TEXT']
        print(row['TEXT'])
        msg['unit'] = 0
    if 'unit' in msg and 580 < row['X1'] < 640:
        msg['unit'] = row['TEXT']
        print(row['TEXT'])
        msg['disc'] = 0
        msg['total'] = 0
    if 'disc' in msg and 680 < row['X1'] < 730:
        msg['disc'] = row['TEXT']
        print(row['TEXT'])
        msg['total'] = 0
        
    if 'total' in msg and 720 < row['X1'] < 800:
        msg['total'] = row['TEXT']
        print(row['TEXT'])
        pprint(msg)
        result.append(msg)

97P1SPA
Finder
-
Push-in
socket
for
46
relays
10
1.66
16.60
{'desc': ' Finder - Push-in socket for 46 relays',
 'disc': 0,
 'part': '97P1SPA',
 'qty': '10',
 'total': '16.60',
 'unit': '1.66'}

In [24]:
print(result)

[]