In [1]:
import sys
sys.path.append('../')
from pdf2df import convert_to_df
# df = convert_to_df('../../error_pdf/BPX -  I0759074.pdf')
df = convert_to_df('../../pdf_issue/bpx_1.pdf')
df

{'format': 'PDF 1.4', 'title': '', 'author': '', 'subject': '', 'keywords': '', 'creator': '', 'producer': 'Apache FOP Version 0.94', 'creationDate': "D:20220802150227+01'00'", 'modDate': "D:20220805204131+01'00'", 'trapped': '', 'encryption': None}

Deprecation: 'getText' removed from class 'Page' after v1.19 - use 'get_text'.

                   TEXT   X1   Y1   X2   Y2  block_no  line_no  page_no
0                   BPX  149   10  163   20         0        0        1
1     Electromechanical  165   10  222   20         0        0        1
2                  Ltd.  224   10  236   20         0        0        1
3                   t/a  238   10  245   20         0        0        1
4                   BPX  247   10  262   20         0        0        1
...                 ...  ...  ...  ...  ...       ...      ...      ...
4257           4,995.22  746  478  777  489        57        0       11
4258                VAT  783  478  799  489        57        0       11
4259          26,713.57  741  491  777  502        58        0       11
4260              Total  783  491  802  502        58        0       11
4261               EURO  783  500  806  511        58        1       11

[4262 rows x 8 columns]

In [2]:
def find_text(temp_df, text,case=False):
    location = temp_df[temp_df['TEXT'].str.contains(text,case=case, na=False)].index.tolist()
    return location

def find_next_word(temp_df, text, nearest_text, case=False):
    pos = find_text(temp_df,text,case=case)
    pos = [item +1 for item in pos]
#     print(pos)
    new_pos = list()
    for item in pos:
#         temp = df.loc[]
        temp_value= temp_df.loc[item]['TEXT']
#         print(temp_value.lower())
       
        if temp_value.lower().__contains__(nearest_text.lower()):
            new_pos.append(item-1)
        
    return new_pos

In [5]:


pos = find_text(df,'Quotation')
quotation_no = df[pos[0]+1:pos[0]+2]['TEXT'].values[0]
quotation_no

'QE009837'

In [6]:
pos_date =find_text(df,'date')[0]
date = df[pos_date+1:pos_date+2]['TEXT'].values[0]
date

'29/07/22'

In [7]:
df =df[df['page_no']==1]

In [18]:
table_start = find_next_word(df, 'Description','Price')
table_data = df[table_start[0]:]
table_data

            TEXT   X1   Y1   X2   Y2  block_no  line_no  page_no
186  Description  271  191  315  202        34        3        1
187        Price  618  191  637  202        34        4        1
188          Per  657  191  670  202        34        5        1
189         Disc  687  191  704  202        34        6        1
190            %  706  191  713  202        34        6        1
..           ...  ...  ...  ...  ...       ...      ...      ...
391        PLATE  393  383  418  394        49        0        1
392           AN  420  383  431  394        49        0        1
393            D  434  383  439  394        49        0        1
394     INCOMING  442  383  483  394        49        0        1
395       SHROUD  271  395  306  406        50        0        1

[210 rows x 8 columns]

In [25]:
from pprint import pprint
msg = dict()
result = list()
for index, row in table_data.iterrows():
#     print(row['TEXT'])
    if row['X1'] < 35: 
        msg = dict()
        if msg
        msg['qty'] = row['TEXT']
        msg['part'] = ""
        
    if ('part' in msg) and (50 < row['X1'] < 80):
        msg['part'] = row['TEXT']
        msg['desc'] = ''
    if ('desc' in msg) and (250< row['X1'] < 450):
        msg['desc'] = msg['desc'] +" "+ row['TEXT']
        msg['unit'] = 0
        
    if 'unit' in msg and (600 < row['X1'] < 650):
        msg['unit'] = row['TEXT']
        msg['disc'] = 0
        msg['total'] = 0
        
    if 'disc' in msg and 690 < row['X1'] < 700:
        msg['disc'] = row['TEXT']
#         print(row['TEXT'])
        msg['total'] = 0
        
    if 'total' in msg and 730 < row['X1'] < 770:
        msg['total'] = row['TEXT']

40.00
{'desc': ' SCHNEIDER KEY SWITCH 2 POS 455KEY REM LEFT',
 'disc': '40.00',
 'part': 'ZB4BG2',
 'qty': '2',
 'total': '16.48',
 'unit': '13.73'}
40.00
{'desc': ' SCHNEIDER SCREW TERM CONTACT BODY 1NO',
 'disc': '40.00',
 'part': 'ZB4BZ101',
 'qty': '2',
 'total': '8.11',
 'unit': '6.76'}
40.00
{'desc': ' SCHNEIDER SCREW TERM CONTACT BODY 2NO',
 'disc': '40.00',
 'part': 'ZB4BZ103',
 'qty': '21',
 'total': '136.08',
 'unit': '10.80'}
40.00
{'desc': ' SCHNEIDER SELECTOR OPERATING HEAD',
 'disc': '40.00',
 'part': 'ZB4BD2',
 'qty': '1',
 'total': '5.96',
 'unit': '9.94'}
40.00
{'desc': ' SCHNEIDER SCREW TERM CONTACT BODY 1NO',
 'disc': '40.00',
 'part': 'ZB4BZ101',
 'qty': '1',
 'total': '4.06',
 'unit': '6.76'}
40.00
{'desc': ' SCHNEIDER SCREW TERM CONTACT BODY 2NO',
 'disc': '40.00',
 'part': 'ZB4BZ103',
 'qty': '1',
 'total': '6.48',
 'unit': '10.80'}
40.00
{'desc': ' SCHNEIDER KEY SELECTOR OPERATING HEAD',
 'disc': '40.00',
 'part': 'ZB4BG0',
 'qty': '1',
 'total': '17.20',
 'unit': '28.66'}
40.00
{'desc': ' SCHNEIDER 24V LED PILOT LIGHT BODY GREEN',
 'disc': '40.00',
 'part': 'ZB4BVB3',
 'qty': '3',
 'total': '19.78',
 'unit': '10.99'}
40.00
{'desc': ' SCHNEIDER PILOT LIGHT HEAD GREEN',
 'disc': '40.00',
 'part': 'ZB4BV033',
 'qty': '3',
 'total': '8.41',
 'unit': '4.67'}
40.00
{'desc': ' SCHNEIDER 24V LED ILLUM PUSHBUTTON',
 'disc': '40.00',
 'part': 'ZB4BW0B65',
 'qty': '2',
 'total': '24.94',
 'unit': '20.78'}
40.00
{'desc': ' SCHNEIDER ILLUM PUSHBUTTON HEAD',
 'disc': '40.00',
 'part': 'ZB4BW363',
 'qty': '2',
 'total': '8.89',
 'unit': '7.41'}
40.00
{'desc': ' SCHNEIDER 24V LED ILLUM PUSHBUTTON BODY',
 'disc': '40.00',
 'part': 'ZB4BW0B45',
 'qty': '1',
 'total': '12.47',
 'unit': '20.78'}
40.00
{'desc': ' SCHNEIDER ILLUM PUSHBUTTON HEAD RED',
 'disc': '40.00',
 'part': 'ZB4BW343',
 'qty': '1',
 'total': '4.45',
 'unit': '7.41'}
40.00
{'desc': ' SCHNEIDER 24V GRN LED ILLUM PUSHBUTTON BODY',
 'disc': '40.00',
 'part': 'ZB4BW0B35',
 'qty': '2',
 'total': '24.94',
 'unit': '20.78'}
40.00
{'desc': ' SCHNEIDER ILLUM PUSHBUTTON HEAD GREEN',
 'disc': '40.00',
 'part': 'ZB4BW333',
 'qty': '2',
 'total': '8.52',
 'unit': '7.10'}
40.00
{'desc': ' SCHNEIDER 24V LED ILLUM PUSHBUTTON BODY',
 'disc': '40.00',
 'part': 'ZB4BW0B55',
 'qty': '1',
 'total': '12.47',
 'unit': '20.78'}
40.00
{'desc': ' SCHNEIDER ILLUM PUSHBUTTON HEAD ORANGE',
 'disc': '40.00',
 'part': 'ZB4BW353',
 'qty': '1',
 'total': '4.45',
 'unit': '7.41'}
20.00
{'desc': ' WEIDMULLER (AEP AP11)',
 'disc': '20.00',
 'part': '1988320000',
 'qty': '20',
 'total': '6.81',
 'unit': '42.56'}
50.00
{'desc': ' SCHNEIDER triple pole C curve MCB 32 amp',
 'disc': '50.00',
 'part': 'A9F44332',
 'qty': '4',
 'total': '64.92',
 'unit': '32.46'}
Date:
{'desc': ' Customer Ref: MP636 Advice',
 'disc': 'Date:',
 'part': 'Customer',
 'qty': 'E0004106/',
 'total': '02/02/21',
 'unit': '1'}
to:
999
100
branch.
Disc%
{'desc': ' Description',
 'disc': 'Disc%',
 'part': 'Product',
 'qty': 'Invoice',
 'total': 'NETT',
 'unit': 'Price'}
40.00
{'desc': ' SCHNEIDER SCREW TERM CONTACT BODY 1NO',
 'disc': '40.00',
 'part': 'ZB4BZ101',
 'qty': '20',
 'total': '81.12',
 'unit': '6.76'}
40.00
{'desc': ' SCHNEIDER SCREW TERM CONTACT BODY 1NC',
 'disc': '40.00',
 'part': 'ZB4BZ102',
 'qty': '20',
 'total': '81.12',
 'unit': '6.76'}
40.00
{'desc': ' SCHNEIDER NORMALLY OPEN SCREW TERMINAL',
 'disc': '40.00',
 'part': 'ZBE101',
 'qty': '10',
 'total': '26.70',
 'unit': '4.45'}
40.00
{'desc': ' SCHNEIDER N/C SCREW TERMINAL CON BLOCK',
 'disc': '40.00',
 'part': 'ZBE102',
 'qty': '10',
 'total': '26.70',
 'unit': '4.45'}

In [19]:
pprint(result)

[{'desc': ' MITSUBISHI(247596)0.2KW SINGLE PHASE',
  'disc': '50.00',
  'part': 'FRD720S014SCEC',
  'qty': '1',
  'total': '85.41',
  'unit': '170.82'}]

In [26]:
page_no = df['page_no'].unique()
page_no

array([1, 2], dtype=int64)

In [31]:
result = []
for page in page_no:
    mydf = df[df['page_no']==page].reset_index(drop=True)
    get_result(mydf, result)
    
len(result)

40.00
{'desc': ' SCHNEIDER KEY SWITCH 2 POS 455KEY REM LEFT',
 'disc': '40.00',
 'part': 'ZB4BG2',
 'qty': '2',
 'total': '16.48',
 'unit': '13.73'}
40.00
{'desc': ' SCHNEIDER SCREW TERM CONTACT BODY 1NO',
 'disc': '40.00',
 'part': 'ZB4BZ101',
 'qty': '2',
 'total': '8.11',
 'unit': '6.76'}
40.00
{'desc': ' SCHNEIDER SCREW TERM CONTACT BODY 2NO',
 'disc': '40.00',
 'part': 'ZB4BZ103',
 'qty': '21',
 'total': '136.08',
 'unit': '10.80'}
40.00
{'desc': ' SCHNEIDER SELECTOR OPERATING HEAD',
 'disc': '40.00',
 'part': 'ZB4BD2',
 'qty': '1',
 'total': '5.96',
 'unit': '9.94'}
40.00
{'desc': ' SCHNEIDER SCREW TERM CONTACT BODY 1NO',
 'disc': '40.00',
 'part': 'ZB4BZ101',
 'qty': '1',
 'total': '4.06',
 'unit': '6.76'}
40.00
{'desc': ' SCHNEIDER SCREW TERM CONTACT BODY 2NO',
 'disc': '40.00',
 'part': 'ZB4BZ103',
 'qty': '1',
 'total': '6.48',
 'unit': '10.80'}
40.00
{'desc': ' SCHNEIDER KEY SELECTOR OPERATING HEAD',
 'disc': '40.00',
 'part': 'ZB4BG0',
 'qty': '1',
 'total': '17.20',
 'unit': '28.66'}
40.00
{'desc': ' SCHNEIDER 24V LED PILOT LIGHT BODY GREEN',
 'disc': '40.00',
 'part': 'ZB4BVB3',
 'qty': '3',
 'total': '19.78',
 'unit': '10.99'}
40.00
{'desc': ' SCHNEIDER PILOT LIGHT HEAD GREEN',
 'disc': '40.00',
 'part': 'ZB4BV033',
 'qty': '3',
 'total': '8.41',
 'unit': '4.67'}
40.00
{'desc': ' SCHNEIDER 24V LED ILLUM PUSHBUTTON',
 'disc': '40.00',
 'part': 'ZB4BW0B65',
 'qty': '2',
 'total': '24.94',
 'unit': '20.78'}
40.00
{'desc': ' SCHNEIDER ILLUM PUSHBUTTON HEAD',
 'disc': '40.00',
 'part': 'ZB4BW363',
 'qty': '2',
 'total': '8.89',
 'unit': '7.41'}
40.00
{'desc': ' SCHNEIDER 24V LED ILLUM PUSHBUTTON BODY',
 'disc': '40.00',
 'part': 'ZB4BW0B45',
 'qty': '1',
 'total': '12.47',
 'unit': '20.78'}
40.00
{'desc': ' SCHNEIDER ILLUM PUSHBUTTON HEAD RED',
 'disc': '40.00',
 'part': 'ZB4BW343',
 'qty': '1',
 'total': '4.45',
 'unit': '7.41'}
40.00
{'desc': ' SCHNEIDER 24V GRN LED ILLUM PUSHBUTTON BODY',
 'disc': '40.00',
 'part': 'ZB4BW0B35',
 'qty': '2',
 'total': '24.94',
 'unit': '20.78'}
40.00
{'desc': ' SCHNEIDER ILLUM PUSHBUTTON HEAD GREEN',
 'disc': '40.00',
 'part': 'ZB4BW333',
 'qty': '2',
 'total': '8.52',
 'unit': '7.10'}
40.00
{'desc': ' SCHNEIDER 24V LED ILLUM PUSHBUTTON BODY',
 'disc': '40.00',
 'part': 'ZB4BW0B55',
 'qty': '1',
 'total': '12.47',
 'unit': '20.78'}
40.00
{'desc': ' SCHNEIDER ILLUM PUSHBUTTON HEAD ORANGE',
 'disc': '40.00',
 'part': 'ZB4BW353',
 'qty': '1',
 'total': '4.45',
 'unit': '7.41'}
20.00
{'desc': ' WEIDMULLER (AEP AP11)',
 'disc': '20.00',
 'part': '1988320000',
 'qty': '20',
 'total': '6.81',
 'unit': '42.56'}
50.00
{'desc': ' SCHNEIDER triple pole C curve MCB 32 amp',
 'disc': '50.00',
 'part': 'A9F44332',
 'qty': '4',
 'total': '64.92',
 'unit': '32.46'}
40.00
{'desc': ' SCHNEIDER SCREW TERM CONTACT BODY 1NO',
 'disc': '40.00',
 'part': 'ZB4BZ101',
 'qty': '20',
 'total': '81.12',
 'unit': '6.76'}
40.00
{'desc': ' SCHNEIDER SCREW TERM CONTACT BODY 1NC',
 'disc': '40.00',
 'part': 'ZB4BZ102',
 'qty': '20',
 'total': '81.12',
 'unit': '6.76'}
40.00
{'desc': ' SCHNEIDER NORMALLY OPEN SCREW TERMINAL',
 'disc': '40.00',
 'part': 'ZBE101',
 'qty': '10',
 'total': '26.70',
 'unit': '4.45'}
40.00
{'desc': ' SCHNEIDER N/C SCREW TERMINAL CON BLOCK',
 'disc': '40.00',
 'part': 'ZBE102',
 'qty': '10',
 'total': '26.70',
 'unit': '4.45'}

23

In [30]:
def get_result(df, result):
    table_start = find_next_word(df,'nett','price')
    table_end = find_text(df, 'comment')
    if not len(table_end):
        table_data = df[table_start[0]:]
    else:  
        table_data = df[table_start[0]:table_end[0]]
    msg = dict()
    for index, row in table_data.iterrows():
#     print(row['TEXT'])
    
        if row['X1'] < 20: 
            msg = dict()
            msg['part'] = row['TEXT']
            msg['desc'] = ''

        if ('part' in msg) and (200 < row['X1'] < 450):
            msg['desc'] = msg['desc'] +" "+ row['TEXT']
            msg['qty'] = ''

        if 'qty' in msg and 500 < row['X1'] < 560 and (msg['qty']==''):
            msg['qty'] = row['TEXT']
            msg['unit'] = 0

        if 'unit' in msg and 580 < row['X1'] < 640:
            msg['unit'] = row['TEXT']
            msg['disc'] = 0
            msg['total'] = 0

        if 'disc' in msg and 680 < row['X1'] < 730:
            msg['disc'] = row['TEXT']
            print(row['TEXT'])
            msg['total'] = 0

        if 'total' in msg and 720 < row['X1'] < 800:
            msg['total'] = row['TEXT']
            pprint(msg)
            result.append(msg)
            msg = dict()

In [21]:
msg =dict()
msg['data'] = 1
msg['okay'] =2
msg['w'] =3