In [3]:
import sys
sys.path.append('../')
from pdf2df import convert_to_df
df = convert_to_df('../../multipdf/Mitsubishi -  0052034922.pdf')
df

{'format': 'PDF 1.6', 'title': '', 'author': 'BATCHUSER ', 'subject': '', 'keywords': '', 'creator': 'Form ZMEUGER_RVINVOIC EN', 'producer': 'SAP NetWeaver 702 ', 'creationDate': 'D:20200911230215Z', 'modDate': "D:20200914134125+01'00'", 'trapped': '', 'encryption': None}

Deprecation: 'getText' removed from class 'Page' after v1.19 - use 'get_text'.

,TEXT,X1,Y1,X2,Y2,block_no,line_no,page_no
0,______________________________________________...,50,445,559,459,0,0,1
1,___________,50,451,111,465,0,1,1
2,Item,50,469,69,483,1,0,1
3,Material,115,469,151,483,1,1,1
4,Description,178,469,228,483,1,2,1
...,...,...,...,...,...,...,...,...
831,52034922,368,163,413,177,26,1,3
832,Page:,453,73,479,87,27,0,3
833,3,482,73,488,87,27,0,3
834,of,490,73,499,87,27,0,3
835,3,510,73,516,87,27,0,3

In [5]:
msg = dict()
result = list()


table_start = find_text(df, 'Item')
table_end = find_text(df, '______________________________________________')
if len(table_end) < 3:
    table_end = find_text(df, 'commodity')

table_data = df[table_start[0]:table_end[-1] + 1]
for index, row in table_data.iterrows():

    if (40 < row['X1'] < 87) and (row['TEXT'].isdigit()):
        #         print(row['TEXT'])
        msg = dict()
        msg['item'] = row['TEXT']
        msg['disc'] = 0
        msg['desc_not'] = True
        print(row['TEXT'])

    if ('item' in msg) and (110 < row['X1'] < 142):
        msg['part'] = row['TEXT']
        print(row['TEXT'])
        msg['desc'] = ''

    if 'part' in msg and (173 < row['X1'] < 400) and msg['desc_not']:
        msg['desc'] = msg['desc'] + " " + row['TEXT']

    if row['TEXT'] == 'PC' and not 'qty' in msg:
        print(table_data.iloc[index - 2]['TEXT'])
        msg['qty'] = table_data.iloc[index - 2]['TEXT']
        msg['desc_not'] = False


    if row['TEXT'].__contains__('Discount'):
        msg['disc'] = table_data.iloc[index]['TEXT'].replace('-', '')

    if row['TEXT'].__contains__("Commodity"):
        msg['total'] = table_data.iloc[index - 2]['TEXT']
        msg['unit'] = str(float(msg['total'].replace(',','')) / int(msg['qty']))
        print(msg)
        result.append(msg)
        msg= dict()

NameError: name 'find_text' is not defined