In [1]:
import pandas as pd
df = pd.read_csv('Ambi3_data.csv')

df

             TEXT   X1   Y1   X2   Y2  block  line_no  word_no  page
0         Ambigai  306   78  350   90      0        3        0     1
1     Consultancy  353   78  419   90      0        3        1     1
2        Services  422   78  467   90      0        3        2     1
3             (I)  470   78  481   90      0        3        3     1
4             Pvt  484   78  501   90      0        3        4     1
..            ...  ...  ...  ...  ...    ...      ...      ...   ...
260      Extended  193  419  235  430     12        4        2     1
261       License  238  419  270  430     12        4        3     1
262       SIM-CDA  275  419  315  430     12        4        4     1
263             1  408  393  414  404     13        1        0     1
264  15,32,180.85  437  393  500  405     14        1        0     1

[265 rows x 9 columns]

In [2]:
def find_text(temp_df, text,case=False):
    location = temp_df[temp_df['TEXT'].str.contains(text,case=case)].index.tolist()
    return location

def find_next_word(temp_df, text, nearest_text, case=False):
    pos = find_text(temp_df,text,case=case)
    pos = [item +1 for item in pos]
#     print(pos)
    new_pos = list()
    for item in pos:
#         temp = df.loc[]
        temp_value= temp_df.loc[item]['TEXT']
#         print(temp_value.lower())
        if temp_value.lower().__contains__(nearest_text.lower()):
            new_pos.append(item-1)
        
    return new_pos

In [3]:
# df = df.sort_values(by=['Y1','X1']).reset_index(drop=True)
# df

In [4]:
pos = find_text(df,'PO')

po_number = ' '.join(df[pos[0]+2:pos[0]+5]['TEXT'].values)
po_number

'ACS-SIE-002-20 _ Ver1.0'

In [5]:
pos = find_text(df,'Date')
po_date = ' '.join(df[pos[0]+1:pos[0]+4]['TEXT'].values)
po_date

'25th Sept 2020'

In [6]:
pos_gst =find_text(df, 'GST', case = True)
gst_no = df.loc[pos_gst[0]+2:pos_gst[0]+2]['TEXT'].values[0]
gst_no

'33AAJCA2641P1ZI'

In [9]:
try :
    if pos_gst[1]:
        pos_gst =find_text(df, 'GST', case = True)
        gst_no = df.loc[pos_gst[1]+1:pos_gst[1]+1]['TEXT'].values[0]
except Exception as e:
    print(gst_no)

33AAJCA2641P1ZI

In [10]:
pos_to = find_text(df,'TO')
pos_attn = find_text(df,'Attn')
address_vendor = df.loc[pos_to[0]+1:pos_attn[0]-1]['TEXT'].values
address_vendor = ' '.join(address_vendor)
address_vendor

'SIEMENS INDUSTRY SOFTWARE COMPUTATIONAL DYNAMICS INDIA PVT LTD Unit 4, 7th floor, Navigator Block, Information Technology Park Limited, Whitefield,, Bangalore, Karnataka, India, 560066'

In [11]:
pos_item = find_text(df,'QTY',case=True)
# df.loc[pos_item[0]:pos_total[0]]
# pos_total = find_next_word(df, '', 'and')
table_data = df.loc[pos_item[0]:]
for index , row in table_data.iterrows():
    from pprint import pprint
prodMessage = {}
table_row = []
for index, row in table_data.iterrows():
    if 50 < row['X1'] < 100:
        if ('price' in prodMessage) :
            table_row.append(prodMessage)
            prodMessage = {}
        prodMessage['Sr'] = row['TEXT']     
        prodMessage['product'] = ''
    elif ('Sr' in prodMessage) and (120 < row['X1'] < 300):
        prodMessage['product'] =prodMessage['product']+" "+row['TEXT']
    elif ('product' in prodMessage) and (400 < row['X1'] < 420):
        prodMessage['qty'] = row['TEXT']
    elif ('qty' in prodMessage) and (490 < row['X2'] < 500):
        prodMessage['price'] = row['TEXT']

table_row.append(prodMessage)
pprint(table_row)
# table_data

[{'Sr': '1',
  'product': ' Simcenter STAR-CCM+ Add 1 Product code: STAR1004 User Type: '
             'Concurrent Simultaneous User License Type: Extended License '
             'SIM-CDA',
  'qty': '1'}]

In [12]:
pos_total = find_text(df,'Total',case = True)
gst_amount = df.loc[pos_total[0]+2:pos_total[0]+2]['TEXT'].values[0]
gst_amount

'15,32,180.85'

In [13]:
pos_terms = find_next_word(df,'Terms', 'and',case =True)
pos_payment = find_next_word(df,'payment','terms')
df.loc[pos_terms[0]:pos_payment[0]+5]

               TEXT   X1   Y1   X2   Y2  block  line_no  word_no  page
124           Terms   90  477  120  489      6        5        0     1
125             and  123  477  142  489      6        5        1     1
126    Conditions:-  145  477  205  489      6        5        2     1
127               •  108  490  113  504      6        6        0     1
128             The  126  493  143  505      6        6        1     1
129        software  150  493  193  505      6        6        2     1
130           shall  199  493  222  505      6        6        3     1
131              be  228  493  240  505      6        6        4     1
132      downloaded  246  493  307  505      6        6        5     1
133  electronically  314  493  379  505      6        6        6     1
134             and  386  493  404  505      6        6        7     1
135        required  410  493  452  505      6        6        8     1
136          rights  458  493  486  505      6        6        9     1
137              to  492  493  503  505      6        6       10     1
138              be  509  493  521  505      6        6       11     1
139        provided  126  507  169  519      6        7        0     1
140              by  172  507  183  519      6        7        1     1
141         Siemens  186  507  227  519      6        7        2     1
142               ,  230  507  233  519      6        7        3     1
143             and  235  507  254  519      6        7        4     1
144             the  256  507  273  519      6        7        5     1
145            same  275  507  301  519      6        7        6     1
146          access  304  507  335  519      6        7        7     1
147             and  338  507  356  519      6        7        8     1
148          rights  359  507  387  519      6        7        9     1
149              to  390  507  400  519      6        7       10     1
150              be  402  507  415  519      6        7       11     1
151        provided  417  507  461  519      6        7       12     1
152              by  463  507  475  519      6        7       13     1
153         Siemens  480  507  521  519      6        7       14     1
154             for  126  522  140  534      6        8        0     1
155             any  142  522  160  534      6        8        1     1
156         further  162  522  197  534      6        8        2     1
157        upgrades  200  522  245  534      6        8        3     1
158             and  248  522  266  534      6        8        4     1
159             new  269  522  290  534      6        8        5     1
160       versions.  292  522  336  534      6        8        6     1
161               •  108  534  113  549      6        9        0     1
162         Payment  126  537  169  549      6        9        1     1
163         terms:-  172  537  207  549      6        9        2     1
164              15  210  537  222  549      6        9        3     1
165            days  224  537  246  549      6        9        4     1
166            from  249  537  273  549      6        9        5     1
167            date  276  537  298  549      6        9        6     1

In [15]:
pos_media = find_text(df,'•')
media_data = df.loc[pos_media[0]+1:pos_media[1]-1]['TEXT'].values
media_data = ' '.join(media_data)
media_data

'The software shall be downloaded electronically and required rights to be provided by Siemens , and the same access and rights to be provided by Siemens for any further upgrades and new versions.'

In [18]:
pos_payment = find_next_word(df,'payment','terms')
pay_terms = df.loc[pos_payment[0]:pos_payment[0]+7]['TEXT'].values
pay_terms = ' '.join(pay_terms)
pay_terms

'Payment terms:- 15 days from date of receipt'

In [17]:
pos_signature = find_text(df, 'Ambigai')
pos_signature

[0, 27, 29]