In [1]:
from pdf2df import convert_to_df
df = convert_to_df('../pdf_data/Carlow/Carlow Engineering - SIN120074.pdf')
df

{'format': 'PDF 1.3', 'title': '', 'author': '', 'subject': '', 'keywords': '', 'creator': '', 'producer': '', 'creationDate': "D:20220413122159+01'00'", 'modDate': "D:20220413122159+01'00'", 'trapped': '', 'encryption': None}

Deprecation: 'getText' removed from class 'Page' after v1.19 - use 'get_text'.

                       TEXT   X1   Y1   X2   Y2  block_no  line_no  page_no
0                         M   48  157   55  169         0        0        1
1                    PENDER   58  157   95  169         0        0        1
2                AUTOMATION   98  157  158  169         0        0        1
3                         &  160  157  166  169         0        0        1
4                   CONTROL  169  157  213  169         0        0        1
..                      ...  ...  ...  ...  ...       ...      ...      ...
231  IE55BOFI90653145476926  420  786  529  798        52        2        1
232                    Bank  331  797  352  809        52        3        1
233                     A/C  354  797  369  809        52        3        1
234                     No.  372  797  386  809        52        3        1
235                45476926  388  797  428  809        52        3        1

[236 rows x 8 columns]

In [2]:
from pdf2df import convert_to_df

df = convert_to_df('../pdf_data/Carlow/Carlow Engineering - SIN120074.pdf')

{'format': 'PDF 1.3', 'title': '', 'author': '', 'subject': '', 'keywords': '', 'creator': '', 'producer': '', 'creationDate': "D:20220413122159+01'00'", 'modDate': "D:20220413122159+01'00'", 'trapped': '', 'encryption': None}

Deprecation: 'getText' removed from class 'Page' after v1.19 - use 'get_text'.

In [3]:
df = df.sort_values(['Y1','X1']).reset_index(drop=True)

In [4]:
# from pdf2df import convert_to_df
# df = conver_to_df('')

In [5]:
def find_text(temp_df, text,case=False):
    location = temp_df[temp_df['TEXT'].str.contains(text,case=case, na=False)].index.tolist()
    return location

def find_next_word(temp_df, text, nearest_text, case=False):
    pos = find_text(temp_df,text,case=case)
    pos = [item +1 for item in pos]
#     print(pos)
    new_pos = list()
    for item in pos:
#         temp = df.loc[]
        temp_value= temp_df.loc[item]['TEXT']
#         print(temp_value.lower())
       
        if temp_value.lower().__contains__(nearest_text.lower()):
            new_pos.append(item-1)
        
    return new_pos

In [6]:
pos_date =find_text(df,'page')
po_data = df[pos_date[0]+1:pos_date[0]+3]['TEXT'].values
invoice_date = po_data[0]
invoice_no = po_data[1]
print(invoice_date)
print(invoice_no)
# date = df[pos_date+1:pos_date+2]['TEXT'].values[0]
# date

05/04/2022
SIN120074

In [7]:
table_start = find_text(df, 'Total')
print(table_start)
table_end = find_text(df, 'Code')
print(table_end[-1])
table_data = df[table_start[0]+2:table_end[-1]]

[100, 162, 172, 179]
155

In [8]:
table_data

            TEXT   X1   Y1   X2   Y2  block_no  line_no  page_no
102        10.00   48  347   71  359        17        0        1
103         1/2"   79  347   95  359        17        0        1
104            x   97  347  102  359        17        0        1
105         3/8"  104  347  120  359        17        0        1
106     REDUCING  122  347  170  359        17        0        1
107         BUSH  173  347  198  359        17        0        1
108         3.23  379  347  397  359        17        1        1
109        32.30  496  347  519  359        17        2        1
110            S  535  347  541  359        17        3        1
111       NICKLE   79  361  111  373        18        0        1
112       PLATED  114  361  149  373        18        0        1
113        BRASS  151  361  182  373        18        0        1
114      FITTING  184  361  219  373        18        0        1
115        10.00   48  375   71  387        19        0        1
116  KQ2H10-U03A   79  375  139  387        19        0        1
117         10mm  141  375  166  387        19        0        1
118            X  169  375  175  387        19        0        1
119          3/8  177  375  190  387        19        0        1
120         HALF  192  375  215  387        19        0        1
121        UNION  218  375  247  387        19        0        1
122         3.11  379  375  397  387        19        1        1
123        31.10  496  375  519  387        19        2        1
124            S  535  375  541  387        19        3        1
125         2.00   53  389   71  401        20        0        1
126          M12   79  389   96  401        20        0        1
127         TAPS   99  389  122  401        20        0        1
128        10.56  374  389  397  401        20        1        1
129        21.12  496  389  519  401        20        2        1
130            S  535  389  541  401        20        3        1
131         2.00   53  403   71  416        21        0        1
132       10.2mm   79  403  111  416        21        0        1
133          HSS  114  403  132  416        21        0        1
134        DRILL  135  403  160  416        21        0        1
135          BIT  163  403  177  416        21        0        1
136         8.96  379  403  397  416        21        1        1
137        17.92  496  403  519  416        21        2        1
138            S  535  403  541  416        21        3        1
139         8.00   53  417   71  430        22        0        1
140  KQ2L10-U03A   79  417  137  430        22        0        1
141         10mm  140  417  165  430        22        0        1
142            X  167  417  173  430        22        0        1
143          3/8  176  417  188  430        22        0        1
144        ELBOW  191  417  223  430        22        0        1
145        UNION  226  417  255  430        22        0        1
146         4.46  379  417  397  430        22        1        1
147        35.68  496  417  519  430        22        2        1
148            S  535  417  541  430        22        3        1
149     DELIVERY   79  446  123  458        23        0        1
150       DOCKET  126  446  163  458        23        0        1
151           NO  166  446  179  458        23        0        1
152        29409  182  446  207  458        23        0        1
153          REF   79  474   97  486        24        0        1
154  4-4-22-ROSS   99  474  154  486        24        0        1

In [9]:
from pprint import pprint
msg = dict()
result = list()
for index, row in table_data.iterrows():
    
#     if row['X1'] < 39: 
#         msg = dict()
#         msg['item'] = row['TEXT']
#         msg['part'] = ''
    if ( 45<row['X1'] < 71):
        print(row['TEXT'])
        msg =dict()
        msg['qty'] = row['TEXT']
        msg['desc'] = ''
        msg['part'] = 'NA'
        
    elif ('desc' in msg) and (75 < row['X1'] < 270):
        msg['desc'] = msg['desc'] +" "+row['TEXT']
        msg['unit'] = ''

    elif ('unit' in msg) and (370  < row['X1'] < 400):
        msg['unit'] = row['TEXT']
        msg['total'] = 0
        
    elif ('total' in msg) and (490 < row['X1'] < 519):
        msg['total'] = row['TEXT']
        try:
            msg['part'], msg['desc'] = msg['desc'].split('-')
        except Exception as e:
            print(str(e))
        pprint(msg)
        result.append(msg)
        msg=dict()

2.00
not enough values to unpack (expected 2, got 1)
{'desc': ' M12 TAPS',
 'part': 'NA',
 'qty': '2.00',
 'total': '21.12',
 'unit': '10.56'}
2.00
not enough values to unpack (expected 2, got 1)
{'desc': ' 10.2mm HSS DRILL BIT',
 'part': 'NA',
 'qty': '2.00',
 'total': '17.92',
 'unit': '8.96'}
8.00
{'desc': 'U03A 10mm X 3/8 ELBOW UNION',
 'part': ' KQ2L10',
 'qty': '8.00',
 'total': '35.68',
 'unit': '4.46'}

In [46]:
result

[{'qty': '2.00',
  'desc': ' M12 TAPS',
  'part': 'NA',
  'unit': '10.56',
  'total': '21.12'},
 {'qty': '2.00',
  'desc': ' 10.2mm HSS DRILL BIT',
  'part': 'NA',
  'unit': '8.96',
  'total': '17.92'},
 {'qty': '8.00',
  'desc': 'U03A 10mm X 3/8 ELBOW UNION',
  'part': ' KQ2L10',
  'unit': '4.46',
  'total': '35.68'}]