In [22]:
from pdf2df import convert_to_df
df = convert_to_df('../pdf_data/Rittal/Rittal - 4220014716 - CP267.pdf')
df

{'format': 'PDF 1.6', 'title': '', 'author': 'IE1JOBS ', 'subject': '', 'keywords': '', 'creator': 'Form ZSD_INVOICE_RITTAL_TG EN', 'producer': 'SAP NetWeaver 740 ', 'creationDate': 'D:20200408060043Z', 'modDate': "D:20200430130242+01'00'", 'trapped': '', 'encryption': None}

Deprecation: 'getText' removed from class 'Page' after v1.19 - use 'get_text'.

                TEXT   X1   Y1   X2   Y2  block_no  line_no  page_no
0             Rittal   45  113   65  124         0        0        1
1            Limited   67  113   95  124         0        0        1
2         Barrowside   98  113  138  124         0        0        1
3           Business  140  113  172  124         0        0        1
4              Park,  175  113  193  124         0        0        1
..               ...  ...  ...  ...  ...       ...      ...      ...
330           please  324  215  341  223        13        0        2
331            state  343  215  356  223        13        0        2
332              the  358  215  366  223        13        0        2
333  above-mentioned  368  215  414  223        13        0        2
334             data  416  215  427  223        13        0        2

[335 rows x 8 columns]

In [23]:
def find_text(temp_df, text,case=False):
    location = temp_df[temp_df['TEXT'].str.contains(text,case=case, na=False)].index.tolist()
    return location

def find_next_word(temp_df, text, nearest_text, case=False):
    pos = find_text(temp_df,text,case=case)
    pos = [item +1 for item in pos]
#     print(pos)
    new_pos = list()
    for item in pos:
#         temp = df.loc[]
        temp_value= temp_df.loc[item]['TEXT']
#         print(temp_value.lower())
       
        if temp_value.lower().__contains__(nearest_text.lower()):
            new_pos.append(item-1)
        
    return new_pos

In [24]:

df = df[df['page_no']==1].reset_index(drop=True)
df = df.sort_values(['Y1','X1']).reset_index(drop=True)
# df

In [25]:
# pos= find_text(df, 'Invoice', 'No.')
# invoice_no = df[pos[1]-1:pos[1]]['TEXT'].values[0]
# print(invoice_no)

In [32]:
pos = find_text(df, 'Invoice')
df[pos[1]:pos[1]+10]
invoice_no = df[pos[1]+3:pos[1]+4]['TEXT'].values[0]
invoice_no

'4220014716'

In [34]:
pos = find_text(df,'date')
invoice_date = df[pos[0]+2:pos[0]+3]['TEXT'].values[0]
print(invoice_date)

07.04.2020

In [33]:
df['page_no'].unique().toList()

AttributeError: 'numpy.ndarray' object has no attribute 'toList'

In [41]:
table_start = find_text(df,'Quantity')
print(table_start[1])
table_end = find_text(df, 'Total', case=True)
print(table_end[0])
table_data = df[table_start[1]:table_end[0]]
table_data

116
151

            TEXT   X1   Y1   X2   Y2  block_no  line_no  page_no
116     Quantity  263  400  304  414        13        3        1
117         unit  306  400  325  414        13        3        1
118           in  522  400  531  414        15        0        1
119          EUR  534  400  555  414        15        0        1
120            1   45  427   50  440        16        0        1
121      1073500   75  427  114  440        16        1        1
122            1  272  427  277  440        16        2        1
123           EA  283  427  296  440        16        2        1
124       141,86  391  427  422  440        16        3        1
125          EUR  428  427  449  440        16        3        1
126       141,86  524  427  555  440        16        4        1
127       AE1073   75  441  110  455        17        0        1
128      CABINET  113  441  156  455        17        0        1
129  760x760x300  159  441  219  455        17        0        1
130      RAL7035  222  441  263  455        17        0        1
131         WHD:   75  456  101  469        17        1        1
132          760  104  456  121  469        17        1        1
133            x  124  456  129  469        17        1        1
134          760  131  456  148  469        17        1        1
135            x  151  456  156  469        17        1        1
136          300  159  456  175  469        17        1        1
137           mm  178  456  195  469        17        1        1
138            2   45  494   50  508        18        0        1
139      1015600   75  494  114  508        18        1        1
140            1  272  494  277  508        18        2        1
141           EA  283  494  296  508        18        2        1
142       195,95  391  494  422  508        18        3        1
143          EUR  428  494  449  508        18        3        1
144       195,95  524  494  555  508        18        4        1
145       AE1015   75  509  110  522        19        0        1
146          S/S  113  509  129  522        19        0        1
147      CABINET  132  509  175  522        19        0        1
148  400X500X210  178  509  242  522        19        0        1
149          WHD   75  523   99  537        19        1        1
150  400x500x210  101  523  161  537        19        1        1

In [31]:
from pprint import pprint
msg = dict()
result = list()
for index, row in table_data.iterrows():
    
    if (40 <row['X1'] < 52):
#         print(row['TEXT'])
        if ('part' in msg):
            result.append(msg)
            pprint(msg)
            
        msg =dict()
        msg['item'] = row['TEXT']
        msg['part']= table_data.loc[index+1]['TEXT']
        msg['desc'] = ''
        
    elif ('part' in msg) and (70 < row['X1'] < 230):
        msg['desc']= msg['desc']+ row['TEXT']
        msg['qty'] = ''
        
    elif ('desc' in msg) and (270 < row['X1'] < 277):
        msg['qty'] = row['TEXT']
        
            
    elif ('qty' in msg) and (390  < row['X1'] < 430):
        msg['unit'] = row['TEXT']
        
    elif ('unit' in msg) and (510 < row['X1'] < 565):
        msg['total'] = row['TEXT']

    
result.append(msg)

{'desc': ' RAL 9005 Worm unit P90 B14 B3 C/W',
 'part': 'W75_U_D30_25_P90_B1',
 'qty': '3.00',
 'total': '825.00',
 'unit': '275.00'}
{'desc': ' Safety Cover for Hollow Shaft',
 'part': 'W/75-S.C.',
 'qty': '3.00',
 'total': '0.00',
 'unit': 0}
{'desc': ' Output Shaft (W75)',
 'part': 'W/75-O.S.',
 'qty': '3.00',
 'total': '0.00',
 'unit': 0}

'1'

In [21]:
result

[{'part': ' A BLACK SATI',
  'desc': ' Promatci Satin Black 500ml',
  'qty': '4',
  'unit': '4.96',
  'total': '19.84'},
 {'part': ' A GREY PRIME',
  'desc': ' Standard Grey Primer',
  'qty': '6',
  'unit': '4.96',
  'total': '29.76'}]