In [14]:
import pandas as pd
df = pd.read_csv('../csv_data/J&J/J&J - IJI498708 (003).csv')

df

         TEXT   X1   Y1   X2   Y2  block_no  line_no  page_no
0         J&J  194   27  238   54         0        0        1
1    Services  245   27  343   54         0        0        1
2        Ltd.  350   27  394   54         0        0        1
3      Carlow  266   52  296   63         1        0        1
4        Road  299   52  322   63         1        0        1
..        ...  ...  ...  ...  ...       ...      ...      ...
124       BIC  387  791  403  802        24        0        1
125  BOFIIE2D  413  791  457  802        24        0        1
126         1  539  148  544  159        25        0        1
127        of  547  148  555  159        25        0        1
128         1  558  148  563  159        25        0        1

[129 rows x 8 columns]

In [15]:
def find_text(temp_df, text,case=False):
    location = temp_df[temp_df['TEXT'].str.contains(text,case=case, na=False)].index.tolist()
    return location

def find_next_word(temp_df, text, nearest_text, case=False):
    pos = find_text(temp_df,text,case=case)
    pos = [item +1 for item in pos]
#     print(pos)
    new_pos = list()
    for item in pos:
#         temp = df.loc[]
        temp_value= temp_df.loc[item]['TEXT']
#         print(temp_value.lower())
       
        if temp_value.lower().__contains__(nearest_text.lower()):
            new_pos.append(item-1)
        
    return new_pos

In [16]:
pos = find_next_word(df,'Invoice', 'No:')
invoice_no = df[pos[0]+2:pos[0]+3]['TEXT'].values[0]
invoice_no

'JI498708'

In [18]:
pos_date =find_text(df,'date')[0]
date = df[pos_date+1:pos_date+2]['TEXT'].values[0]
date

'20/01/21'

In [19]:
table_start = find_next_word(df,'qty','RRP')
print(table_start)
table_end = find_text(df, 'JASIC')
print(table_end)
table_data = df[table_start[0]:table_end[0]]

[68]
[97]

In [20]:
from pprint import pprint
msg = dict()
result = list()
for index, row in table_data.iterrows():
    
#     if row['X1'] < 39: 
#         msg = dict()
#         msg['item'] = row['TEXT']
#         msg['part'] = ''
    if (535 <row['X1'] < 566):
        print(row['TEXT'])
        msg =dict()
        msg['part'] = ''
        
    if ('part' in msg) and (38 < row['X1'] < 90):
        msg['part']= msg['part'] +" " +row['TEXT']
        msg['desc']= ''
        
    if ('desc' in msg) and (133 < row['X1'] < 250):
        msg['desc'] = msg['desc'] +" "+row['TEXT']
        msg['qty'] = ''

    if ('qty' in msg) and (380 < row['X1'] < 397):
        msg['qty'] = row['TEXT']
        msg['unit'] = 0
        
    if ('unit' in msg) and (460  < row['X1'] < 482):
        msg['unit'] = row['TEXT']
        msg['total'] = 0
        
    if ('total' in msg) and (500 < row['X1'] < 530):
        msg['total'] = row['TEXT']
        pprint(msg)
        result.append(msg)
        msg=dict()

VC
{'desc': ' Promatci Satin Black 500ml',
 'part': ' A BLACK SATI',
 'qty': '4',
 'total': '19.84',
 'unit': '4.96'}
1
{'desc': ' Standard Grey Primer',
 'part': ' A GREY PRIME',
 'qty': '6',
 'total': '29.76',
 'unit': '4.96'}
1

In [21]:
result

[{'part': ' A BLACK SATI',
  'desc': ' Promatci Satin Black 500ml',
  'qty': '4',
  'unit': '4.96',
  'total': '19.84'},
 {'part': ' A GREY PRIME',
  'desc': ' Standard Grey Primer',
  'qty': '6',
  'unit': '4.96',
  'total': '29.76'}]