In [80]:
from pdf2df import convert_to_df
df = convert_to_df("../multipdf/Carlow Engineering - SIN11569.pdf")
df

{'format': 'PDF 1.6', 'title': '', 'author': '', 'subject': '', 'keywords': '', 'creator': '', 'producer': '', 'creationDate': "D:20200518123112+01'00'", 'modDate': "D:20200520160055+01'00'", 'trapped': '', 'encryption': None}

Deprecation: 'getText' removed from class 'Page' after v1.19 - use 'get_text'.

                       TEXT   X1   Y1   X2   Y2  block_no  line_no  page_no
0                         M   48  157   55  169         0        0        1
1                    PENDER   58  157   95  169         0        0        1
2                AUTOMATION   98  157  158  169         0        0        1
3                         &  160  157  166  169         0        0        1
4                   CONTROL  169  157  213  169         0        0        1
..                      ...  ...  ...  ...  ...       ...      ...      ...
595  IE55BOFI90653145476926  420  786  529  798        58        2        2
596                    Bank  331  797  352  809        58        3        2
597                     A/C  354  797  369  809        58        3        2
598                     No.  372  797  386  809        58        3        2
599                45476926  388  797  428  809        58        3        2

[600 rows x 8 columns]

In [81]:
df = df.sort_values(['page_no','Y1','X1']).reset_index(drop=True)

In [82]:
# from pdf2df import convert_to_df
# df = conver_to_df('')

In [83]:
def find_text(temp_df, text,case=False):
    location = temp_df[temp_df['TEXT'].str.contains(text,case=case, na=False)].index.tolist()
    return location

def find_next_word(temp_df, text, nearest_text, case=False):
    pos = find_text(temp_df,text,case=case)
    pos = [item +1 for item in pos]
#     print(pos)
    new_pos = list()
    for item in pos:
#         temp = df.loc[]
        temp_value= temp_df.loc[item]['TEXT']
#         print(temp_value.lower())
       
        if temp_value.lower().__contains__(nearest_text.lower()):
            new_pos.append(item-1)
        
    return new_pos

In [84]:
pos_date =find_text(df,'page')
po_data = df[pos_date[0]+1:pos_date[0]+3]['TEXT'].values
invoice_date = po_data[0]
invoice_no = po_data[1]
print(invoice_date)
print(invoice_no)
# date = df[pos_date+1:pos_date+2]['TEXT'].values[0]
# date

11/05/2020
SIN111569

In [89]:
page_no = df['page_no'].unique()
page_no

array([1, 2], dtype=int64)

In [90]:
result = []
for page in page_no:
    mydf = df[df['page_no']==page].reset_index(drop=True)
    get_result(mydf, result)
    
len(result)

[104]
6.00
not enough values to unpack (expected 2, got 1)
{'desc': ' AIRPIPE 25mm 5.8 MTR 2009 2002 00',
 'part': 'NA',
 'qty': '6.00',
 'total': '255.42',
 'unit': '42.57'}
5.00
not enough values to unpack (expected 2, got 1)
{'desc': ' INDEX MOV 100 PRO CHEMICAL MORTAR &',
 'part': 'NA',
 'qty': '5.00',
 'total': '99.20',
 'unit': '19.84'}
3.00
not enough values to unpack (expected 2, got 1)
{'desc': ' M20 GRADE 10.9 THREADED BAR DIN975',
 'part': 'NA',
 'qty': '3.00',
 'total': '38.40',
 'unit': '12.80'}
16.00
not enough values to unpack (expected 2, got 1)
{'desc': ' M20 HEX NUT',
 'part': 'NA',
 'qty': '16.00',
 'total': '6.24',
 'unit': '0.39'}
8.00
not enough values to unpack (expected 2, got 1)
{'desc': ' M20 X 8 EHD BINX FLAT WASHER',
 'part': 'NA',
 'qty': '8.00',
 'total': '13.12',
 'unit': '1.64'}
5.00
not enough values to unpack (expected 2, got 1)
{'desc': ' 1/2" MULTI PURPOSE 18b HOSE 52013Y',
 'part': 'NA',
 'qty': '5.00',
 'total': '20.60',
 'unit': '4.12'}
2.00
{'desc': '24mm JUBILEE CLIP',
 'part': ' 15',
 'qty': '2.00',
 'total': '3.08',
 'unit': '1.54'}
1.00
not enough values to unpack (expected 2, got 1)
{'desc': ' 1" MULTI PURPOSE 18b HOSE 52025Y',
 'part': 'NA',
 'qty': '1.00',
 'total': '7.54',
 'unit': '7.54'}
2.00
{'desc': '39 MICALOR CLIP',
 'part': ' 36',
 'qty': '2.00',
 'total': '4.80',
 'unit': '2.40'}
2.00
not enough values to unpack (expected 2, got 1)
{'desc': ' AIRPIPE 25mm TERMINAL 2009 2023 00',
 'part': 'NA',
 'qty': '2.00',
 'total': '46.54',
 'unit': '23.27'}
6.00
not enough values to unpack (expected 2, got 1)
{'desc': ' AIRPIPE 25mm JOINER 2009 2002 00',
 'part': 'NA',
 'qty': '6.00',
 'total': '94.80',
 'unit': '15.80'}
6.00
not enough values to unpack (expected 2, got 1)
{'desc': ' AIRPIPE 25mm 90Â° ELBOW 2009 2003 00',
 'part': 'NA',
 'qty': '6.00',
 'total': '80.82',
 'unit': '13.47'}
30.00
not enough values to unpack (expected 2, got 1)
{'desc': ' AIRPIPE 25mm BRACKET 2009 2022 00',
 'part': 'NA',
 'qty': '30.00',
 'total': '56.40',
 'unit': '1.88'}
1.00
not enough values to unpack (expected 2, got 1)
{'desc': ' AIRPIPE 25mm 1" F STUD 2009 2219 00',
 'part': 'NA',
 'qty': '1.00',
 'total': '19.75',
 'unit': '19.75'}
1.00
not enough values to unpack (expected 2, got 1)
{'desc': ' AIRPIPE 25mm TEE PIECE 2009 2005 00',
 'part': 'NA',
 'qty': '1.00',
 'total': '14.72',
 'unit': '14.72'}
2.00
not enough values to unpack (expected 2, got 1)
{'desc': ' 1" BSP X 1" BRASS TAIL',
 'part': 'NA',
 'qty': '2.00',
 'total': '12.72',
 'unit': '6.36'}
1.00
not enough values to unpack (expected 2, got 1)
{'desc': ' 1" GBA FULL BORE IND VALVE',
 'part': 'NA',
 'qty': '1.00',
 'total': '14.76',
 'unit': '14.76'}
1.00
not enough values to unpack (expected 2, got 1)
{'desc': ' 1" GB HEX NIPPLES',
 'part': 'NA',
 'qty': '1.00',
 'total': '1.98',
 'unit': '1.98'}
1.00
not enough values to unpack (expected 2, got 1)
{'desc': ' 1/2" BSP X 1/2" BRASS TAIL',
 'part': 'NA',
 'qty': '1.00',
 'total': '3.84',
 'unit': '3.84'}
1.00
{'desc': 'S ADAPTOR ACA2659',
 'part': ' 1/2 TAIL 60',
 'qty': '1.00',
 'total': '4.80',
 'unit': '4.80'}
[104, 222, 230, 237]
1.00
{'desc': 'S COUPLING AC5JM',
 'part': ' 1/2 MALE BSP 100',
 'qty': '1.00',
 'total': '24.39',
 'unit': '24.39'}
4.00
not enough values to unpack (expected 2, got 1)
{'desc': ' 1/2 MALE BSP PCL COUPLING AC21JM',
 'part': 'NA',
 'qty': '4.00',
 'total': '39.04',
 'unit': '9.76'}
2.00
not enough values to unpack (expected 2, got 1)
{'desc': ' 1/2" GB ELBOW',
 'part': 'NA',
 'qty': '2.00',
 'total': '3.08',
 'unit': '1.54'}
3.00
{'desc': '00A 12mm ELBOW',
 'part': ' KQ2L12',
 'qty': '3.00',
 'total': '11.70',
 'unit': '3.90'}
1.00
{'desc': '00A 12mm TEE PIECE',
 'part': ' KQ2T12',
 'qty': '1.00',
 'total': '5.47',
 'unit': '5.47'}
2.00
{'desc': 'U02A 6mm X 1/4 ELBOW UNION',
 'part': ' KQ2L06',
 'qty': '2.00',
 'total': '5.36',
 'unit': '2.68'}
32.00
{'desc': '00A 10mm ELBOW',
 'part': ' KQ2L10',
 'qty': '32.00',
 'total': '101.44',
 'unit': '3.17'}
2.00
{'desc': '00A 10mm TEE PIECE',
 'part': ' KQ2T10',
 'qty': '2.00',
 'total': '7.28',
 'unit': '3.64'}
10.00
{'desc': '00A 10mm STRAIGHT JOINER',
 'part': ' KQ2H10',
 'qty': '10.00',
 'total': '26.80',
 'unit': '2.68'}
4.00
{'desc': '08A 6mm X 8mm STEM REDUCER',
 'part': ' KQ2R06',
 'qty': '4.00',
 'total': '8.96',
 'unit': '2.24'}
4.00
{'desc': '10A 8mmX10mm STRAIGHT JOINER',
 'part': ' KQ2H08',
 'qty': '4.00',
 'total': '11.08',
 'unit': '2.77'}
10.00
{'desc': '00A 6mm STRAIGHT JOINER',
 'part': ' KQ2H06',
 'qty': '10.00',
 'total': '23.10',
 'unit': '2.31'}
10.00
{'desc': '00A 6mm ELBOW',
 'part': ' KQ2L06',
 'qty': '10.00',
 'total': '22.80',
 'unit': '2.28'}

33

In [91]:
result

[{'qty': '6.00',
  'desc': ' AIRPIPE 25mm 5.8 MTR 2009 2002 00',
  'part': 'NA',
  'unit': '42.57',
  'total': '255.42'},
 {'qty': '5.00',
  'desc': ' INDEX MOV 100 PRO CHEMICAL MORTAR &',
  'part': 'NA',
  'unit': '19.84',
  'total': '99.20'},
 {'qty': '3.00',
  'desc': ' M20 GRADE 10.9 THREADED BAR DIN975',
  'part': 'NA',
  'unit': '12.80',
  'total': '38.40'},
 {'qty': '16.00',
  'desc': ' M20 HEX NUT',
  'part': 'NA',
  'unit': '0.39',
  'total': '6.24'},
 {'qty': '8.00',
  'desc': ' M20 X 8 EHD BINX FLAT WASHER',
  'part': 'NA',
  'unit': '1.64',
  'total': '13.12'},
 {'qty': '5.00',
  'desc': ' 1/2" MULTI PURPOSE 18b HOSE 52013Y',
  'part': 'NA',
  'unit': '4.12',
  'total': '20.60'},
 {'qty': '2.00',
  'desc': '24mm JUBILEE CLIP',
  'part': ' 15',
  'unit': '1.54',
  'total': '3.08'},
 {'qty': '1.00',
  'desc': ' 1" MULTI PURPOSE 18b HOSE 52025Y',
  'part': 'NA',
  'unit': '7.54',
  'total': '7.54'},
 {'qty': '2.00',
  'desc': '39 MICALOR CLIP',
  'part': ' 36',
  'unit': '2.40',
  'total': '4.80'},
 {'qty': '2.00',
  'desc': ' AIRPIPE 25mm TERMINAL 2009 2023 00',
  'part': 'NA',
  'unit': '23.27',
  'total': '46.54'},
 {'qty': '6.00',
  'desc': ' AIRPIPE 25mm JOINER 2009 2002 00',
  'part': 'NA',
  'unit': '15.80',
  'total': '94.80'},
 {'qty': '6.00',
  'desc': ' AIRPIPE 25mm 90Â° ELBOW 2009 2003 00',
  'part': 'NA',
  'unit': '13.47',
  'total': '80.82'},
 {'qty': '30.00',
  'desc': ' AIRPIPE 25mm BRACKET 2009 2022 00',
  'part': 'NA',
  'unit': '1.88',
  'total': '56.40'},
 {'qty': '1.00',
  'desc': ' AIRPIPE 25mm 1" F STUD 2009 2219 00',
  'part': 'NA',
  'unit': '19.75',
  'total': '19.75'},
 {'qty': '1.00',
  'desc': ' AIRPIPE 25mm TEE PIECE 2009 2005 00',
  'part': 'NA',
  'unit': '14.72',
  'total': '14.72'},
 {'qty': '2.00',
  'desc': ' 1" BSP X 1" BRASS TAIL',
  'part': 'NA',
  'unit': '6.36',
  'total': '12.72'},
 {'qty': '1.00',
  'desc': ' 1" GBA FULL BORE IND VALVE',
  'part': 'NA',
  'unit': '14.76',
  'total': '14.76'},
 {'qty': '1.00',
  'desc': ' 1" GB HEX NIPPLES',
  'part': 'NA',
  'unit': '1.98',
  'total': '1.98'},
 {'qty': '1.00',
  'desc': ' 1/2" BSP X 1/2" BRASS TAIL',
  'part': 'NA',
  'unit': '3.84',
  'total': '3.84'},
 {'qty': '1.00',
  'desc': 'S ADAPTOR ACA2659',
  'part': ' 1/2 TAIL 60',
  'unit': '4.80',
  'total': '4.80'},
 {'qty': '1.00',
  'desc': 'S COUPLING AC5JM',
  'part': ' 1/2 MALE BSP 100',
  'unit': '24.39',
  'total': '24.39'},
 {'qty': '4.00',
  'desc': ' 1/2 MALE BSP PCL COUPLING AC21JM',
  'part': 'NA',
  'unit': '9.76',
  'total': '39.04'},
 {'qty': '2.00',
  'desc': ' 1/2" GB ELBOW',
  'part': 'NA',
  'unit': '1.54',
  'total': '3.08'},
 {'qty': '3.00',
  'desc': '00A 12mm ELBOW',
  'part': ' KQ2L12',
  'unit': '3.90',
  'total': '11.70'},
 {'qty': '1.00',
  'desc': '00A 12mm TEE PIECE',
  'part': ' KQ2T12',
  'unit': '5.47',
  'total': '5.47'},
 {'qty': '2.00',
  'desc': 'U02A 6mm X 1/4 ELBOW UNION',
  'part': ' KQ2L06',
  'unit': '2.68',
  'total': '5.36'},
 {'qty': '32.00',
  'desc': '00A 10mm ELBOW',
  'part': ' KQ2L10',
  'unit': '3.17',
  'total': '101.44'},
 {'qty': '2.00',
  'desc': '00A 10mm TEE PIECE',
  'part': ' KQ2T10',
  'unit': '3.64',
  'total': '7.28'},
 {'qty': '10.00',
  'desc': '00A 10mm STRAIGHT JOINER',
  'part': ' KQ2H10',
  'unit': '2.68',
  'total': '26.80'},
 {'qty': '4.00',
  'desc': '08A 6mm X 8mm STEM REDUCER',
  'part': ' KQ2R06',
  'unit': '2.24',
  'total': '8.96'},
 {'qty': '4.00',
  'desc': '10A 8mmX10mm STRAIGHT JOINER',
  'part': ' KQ2H08',
  'unit': '2.77',
  'total': '11.08'},
 {'qty': '10.00',
  'desc': '00A 6mm STRAIGHT JOINER',
  'part': ' KQ2H06',
  'unit': '2.31',
  'total': '23.10'},
 {'qty': '10.00',
  'desc': '00A 6mm ELBOW',
  'part': ' KQ2L06',
  'unit': '2.28',
  'total': '22.80'}]

In [24]:
df = df[df.page_no==1]
df

            TEXT   X1   Y1   X2   Y2  block_no  line_no  page_no
0         CARLOW  209   28  286   52         9        0        1
1    ENGINEERING  291   28  410   52         9        0        1
2      SUPPLIERS  414   28  511   52         9        0        1
3           LTD.  515   28  553   52         9        0        1
4       Kilkenny  280   58  326   73         4        0        1
..           ...  ...  ...  ...  ...       ...      ...      ...
299      ADAPTOR  137  644  180  657        38        0        1
300      ACA2659  183  644  221  657        38        0        1
301         4.80  379  644  397  657        38        1        1
302         4.80  501  644  519  657        38        2        1
303            S  535  644  541  657        38        3        1

[304 rows x 8 columns]

In [88]:
def get_result(df, result):
    table_start = find_text(df, 'Total')
    print(table_start)
    table_end = find_text(df, 'Code')
    if not len(table_end)>1:
        table_data = df[table_start[0]:]

    else:
        table_data = df[table_start[0]+2:table_end[-1]]
    
    from pprint import pprint
    msg = dict()
    for index, row in table_data.iterrows():

    #     if row['X1'] < 39: 
    #         msg = dict()
    #         msg['item'] = row['TEXT']
    #         msg['part'] = ''
        if ( 45<row['X1'] < 71):
            print(row['TEXT'])
            msg =dict()
            msg['qty'] = row['TEXT']
            msg['desc'] = ''
            msg['part'] = 'NA'

        elif ('desc' in msg) and (75 < row['X1'] < 270):
            msg['desc'] = msg['desc'] +" "+row['TEXT']
            msg['unit'] = ''

        elif ('unit' in msg) and (370  < row['X1'] < 400):
            msg['unit'] = row['TEXT']
            msg['total'] = 0

        elif ('total' in msg) and (490 < row['X1'] < 519):
            msg['total'] = row['TEXT']
            try:
                msg['part'], msg['desc'] = msg['desc'].split('-')
            except Exception as e:
                print(str(e))
            pprint(msg)
            result.append(msg)
            msg=dict()

In [29]:
result

[]

In [69]:
table_start = find_text(df, 'Total')
print(table_start)
table_end = find_text(df, 'Code')
if not len(table_end)>1:
    table_data = df[table_start[0]:]

else:
    table_data = df[table_start[0]+2:table_end[-1]]
    
table_data

[104, 408, 526, 534, 541]

          TEXT   X1   Y1   X2   Y2  block_no  line_no  page_no
106       6.00   53  347   71  359        17        0        1
107    AIRPIPE   79  347  114  359        17        0        1
108       25mm  117  347  142  359        17        0        1
109        5.8  144  347  157  359        17        0        1
110        MTR  159  347  179  359        17        0        1
..         ...  ...  ...  ...  ...       ...      ...      ...
514      ELBOW  156  517  188  529        29        0        2
515       2.28  379  517  397  529        29        1        2
516      22.80  496  517  519  529        29        2        2
517          S  535  517  541  529        29        3        2
518  COLLECTED   79  545  133  557        30        0        2

[413 rows x 8 columns]

In [70]:
from pprint import pprint
msg = dict()
result = list()
for index, row in table_data.iterrows():
    
#     if row['X1'] < 39: 
#         msg = dict()
#         msg['item'] = row['TEXT']
#         msg['part'] = ''
    if ( 45<row['X1'] < 71):
        print(row['TEXT'])
        msg =dict()
        msg['qty'] = row['TEXT']
        msg['desc'] = ''
        msg['part'] = 'NA'
        
    elif ('desc' in msg) and (75 < row['X1'] < 270):
        msg['desc'] = msg['desc'] +" "+row['TEXT']
        msg['unit'] = ''

    elif ('unit' in msg) and (370  < row['X1'] < 400):
        msg['unit'] = row['TEXT']
        msg['total'] = 0
        
    elif ('total' in msg) and (490 < row['X1'] < 519):
        msg['total'] = row['TEXT']
        try:
            msg['part'], msg['desc'] = msg['desc'].split('-')
        except Exception as e:
            print(str(e))
        pprint(msg)
        result.append(msg)
        msg=dict()

6.00
not enough values to unpack (expected 2, got 1)
{'desc': ' AIRPIPE 25mm 5.8 MTR 2009 2002 00',
 'part': 'NA',
 'qty': '6.00',
 'total': '255.42',
 'unit': '42.57'}
5.00
not enough values to unpack (expected 2, got 1)
{'desc': ' INDEX MOV 100 PRO CHEMICAL MORTAR &',
 'part': 'NA',
 'qty': '5.00',
 'total': '99.20',
 'unit': '19.84'}
3.00
not enough values to unpack (expected 2, got 1)
{'desc': ' M20 GRADE 10.9 THREADED BAR DIN975',
 'part': 'NA',
 'qty': '3.00',
 'total': '38.40',
 'unit': '12.80'}
16.00
not enough values to unpack (expected 2, got 1)
{'desc': ' M20 HEX NUT',
 'part': 'NA',
 'qty': '16.00',
 'total': '6.24',
 'unit': '0.39'}
8.00
not enough values to unpack (expected 2, got 1)
{'desc': ' M20 X 8 EHD BINX FLAT WASHER',
 'part': 'NA',
 'qty': '8.00',
 'total': '13.12',
 'unit': '1.64'}
5.00
not enough values to unpack (expected 2, got 1)
{'desc': ' 1/2" MULTI PURPOSE 18b HOSE 52013Y',
 'part': 'NA',
 'qty': '5.00',
 'total': '20.60',
 'unit': '4.12'}
2.00
{'desc': '24mm JUBILEE CLIP',
 'part': ' 15',
 'qty': '2.00',
 'total': '3.08',
 'unit': '1.54'}
1.00
not enough values to unpack (expected 2, got 1)
{'desc': ' 1" MULTI PURPOSE 18b HOSE 52025Y',
 'part': 'NA',
 'qty': '1.00',
 'total': '7.54',
 'unit': '7.54'}
2.00
{'desc': '39 MICALOR CLIP',
 'part': ' 36',
 'qty': '2.00',
 'total': '4.80',
 'unit': '2.40'}
2.00
not enough values to unpack (expected 2, got 1)
{'desc': ' AIRPIPE 25mm TERMINAL 2009 2023 00',
 'part': 'NA',
 'qty': '2.00',
 'total': '46.54',
 'unit': '23.27'}
6.00
not enough values to unpack (expected 2, got 1)
{'desc': ' AIRPIPE 25mm JOINER 2009 2002 00',
 'part': 'NA',
 'qty': '6.00',
 'total': '94.80',
 'unit': '15.80'}
6.00
not enough values to unpack (expected 2, got 1)
{'desc': ' AIRPIPE 25mm 90Â° ELBOW 2009 2003 00',
 'part': 'NA',
 'qty': '6.00',
 'total': '80.82',
 'unit': '13.47'}
30.00
not enough values to unpack (expected 2, got 1)
{'desc': ' AIRPIPE 25mm BRACKET 2009 2022 00',
 'part': 'NA',
 'qty': '30.00',
 'total': '56.40',
 'unit': '1.88'}
1.00
not enough values to unpack (expected 2, got 1)
{'desc': ' AIRPIPE 25mm 1" F STUD 2009 2219 00',
 'part': 'NA',
 'qty': '1.00',
 'total': '19.75',
 'unit': '19.75'}
1.00
not enough values to unpack (expected 2, got 1)
{'desc': ' AIRPIPE 25mm TEE PIECE 2009 2005 00',
 'part': 'NA',
 'qty': '1.00',
 'total': '14.72',
 'unit': '14.72'}
2.00
not enough values to unpack (expected 2, got 1)
{'desc': ' 1" BSP X 1" BRASS TAIL',
 'part': 'NA',
 'qty': '2.00',
 'total': '12.72',
 'unit': '6.36'}
1.00
not enough values to unpack (expected 2, got 1)
{'desc': ' 1" GBA FULL BORE IND VALVE',
 'part': 'NA',
 'qty': '1.00',
 'total': '14.76',
 'unit': '14.76'}
1.00
not enough values to unpack (expected 2, got 1)
{'desc': ' 1" GB HEX NIPPLES',
 'part': 'NA',
 'qty': '1.00',
 'total': '1.98',
 'unit': '1.98'}
1.00
not enough values to unpack (expected 2, got 1)
{'desc': ' 1/2" BSP X 1/2" BRASS TAIL',
 'part': 'NA',
 'qty': '1.00',
 'total': '3.84',
 'unit': '3.84'}
1.00
{'desc': 'S ADAPTOR ACA2659',
 'part': ' 1/2 TAIL 60',
 'qty': '1.00',
 'total': '4.80',
 'unit': '4.80'}
M
PENDER
KILLERIG
CARLOW
CO
CARLOW
not enough values to unpack (expected 2, got 1)
{'desc': ' Drill',
 'part': 'NA',
 'qty': 'CARLOW',
 'total': 'Bar.',
 'unit': 'GB/HYD'}
DATE
not enough values to unpack (expected 2, got 1)
{'desc': ' INVOICE NO. ORDER NO. SIN111569 M P Description',
 'part': 'NA',
 'qty': 'DATE',
 'total': 'Total',
 'unit': 'Price'}
1.00
{'desc': 'S COUPLING AC5JM',
 'part': ' 1/2 MALE BSP 100',
 'qty': '1.00',
 'total': '24.39',
 'unit': '24.39'}
4.00
not enough values to unpack (expected 2, got 1)
{'desc': ' 1/2 MALE BSP PCL COUPLING AC21JM',
 'part': 'NA',
 'qty': '4.00',
 'total': '39.04',
 'unit': '9.76'}
2.00
not enough values to unpack (expected 2, got 1)
{'desc': ' 1/2" GB ELBOW',
 'part': 'NA',
 'qty': '2.00',
 'total': '3.08',
 'unit': '1.54'}
3.00
{'desc': '00A 12mm ELBOW',
 'part': ' KQ2L12',
 'qty': '3.00',
 'total': '11.70',
 'unit': '3.90'}
1.00
{'desc': '00A 12mm TEE PIECE',
 'part': ' KQ2T12',
 'qty': '1.00',
 'total': '5.47',
 'unit': '5.47'}
2.00
{'desc': 'U02A 6mm X 1/4 ELBOW UNION',
 'part': ' KQ2L06',
 'qty': '2.00',
 'total': '5.36',
 'unit': '2.68'}
32.00
{'desc': '00A 10mm ELBOW',
 'part': ' KQ2L10',
 'qty': '32.00',
 'total': '101.44',
 'unit': '3.17'}
2.00
{'desc': '00A 10mm TEE PIECE',
 'part': ' KQ2T10',
 'qty': '2.00',
 'total': '7.28',
 'unit': '3.64'}
10.00
{'desc': '00A 10mm STRAIGHT JOINER',
 'part': ' KQ2H10',
 'qty': '10.00',
 'total': '26.80',
 'unit': '2.68'}
4.00
{'desc': '08A 6mm X 8mm STEM REDUCER',
 'part': ' KQ2R06',
 'qty': '4.00',
 'total': '8.96',
 'unit': '2.24'}
4.00
{'desc': '10A 8mmX10mm STRAIGHT JOINER',
 'part': ' KQ2H08',
 'qty': '4.00',
 'total': '11.08',
 'unit': '2.77'}
10.00
{'desc': '00A 6mm STRAIGHT JOINER',
 'part': ' KQ2H06',
 'qty': '10.00',
 'total': '23.10',
 'unit': '2.31'}
10.00
{'desc': '00A 6mm ELBOW',
 'part': ' KQ2L06',
 'qty': '10.00',
 'total': '22.80',
 'unit': '2.28'}